body {
  width: 100%;
  height: 100vh;
  background-color: #EEEEEE;
  font-family: 'Raleway', sans-serif !important;
}

.authentication-card {
  border: none;
  margin-top: -250px;
}

.authentication-card .card-header {
  border: none;
  background: #fff;
}

.authentication-card .card-body form .form-control {
  width: 100%;
}

.authentication-card .card-body form .form-label {
  font-weight: bold;
}

.authentication-card .card-body form button {
  width: 100%;
  margin-top: 10px;
}

.authentication-card .card-body form .link {
  display: block;
  padding-top: 10px;
}

.authentication-card .card-body form .link:hover {
  text-decoration: none;
}

.authentication-card .card-body form .error-text {
  margin-left: 15px;
}


